* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: lightgreen;
  overflow: hidden;
}

/* classi riutilizzabili */
a {
  text-decoration: none;
}

a:hover {
  color:white;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  color: white;
}

.ms_white {
  color: white;
}

.ms_grey {
  color: #75787c;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* / classi riutilizzabili */

/* main */
main {
  width: 100%;
  height: calc(100% - 80px);
  background-color: violet;
  display: flex;
  overflow: hidden;
}

/* main-left */
.main-left {
  height: 100%;
  width: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-left .main-left-header .spotify,
.main-left .main-left-playlist,
.main-left .main-left-footer {
  padding-left: 15px;
}

.main-left ul li a {
  opacity: 0.6;
}

.main-left li a:hover {
  opacity: 1;
}

/* main-left-header */
.main-left-header .spotify .logo{
  width: 70%;
  padding: 20px 0;
}

.main-left-header .spotify .logo-small{
  width: 50%;
  padding: 20px 0;
}

.main-left-header .menu {
  padding-bottom: 20px;
}

.main-left-header .menu ul li {
  padding-bottom: 10px;
}

.main-left-header .menu ul li a{
  padding-left: 15px;
}

.main-left-header .menu ul li:first-child a{
  padding-left: 12px;
}

.main-left-header .menu ul li:first-child {
  border-left: 3px solid #adff2f;
}

.main-left-header .playlist {
  padding-left: 15px;
}

.main-left-header .menu img{
  width: 30px;
  vertical-align: middle;
  padding-right: 5px;
}

.main-left-header h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.main-left-header .playlist {
  padding-bottom: 20px;
}

.main-left-header .playlist a span:before{
  display: inline-block;
  content:'+';
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
  font-size: 36px;
  color: black;
  background-color: rgba(255, 255, 255, 0.66);
  text-align: center;
  vertical-align: middle;
}

.main-left-header .playlist a:hover span:before {
  background-color: rgba(255, 255, 255, 1);
}
/* / main-left-header */

/* main-left-playlist */
.main-left-playlist {
  min-height: 200px;
  flex-grow: 1;
  overflow-y: auto;
}

.main-left-playlist ul li{
  padding-bottom: 30px;
}
/* / main-left-playlist */

/* main-left-footer */
.main-left-footer {
  padding: 10px 0;
}

.main-left-footer-top img {
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.main-left-footer-top::after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 90%;
  background-color: lightgrey;
}

.main-left-footer-bottom img {
  width: 25px;
  height: 25px;
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 50px;
  vertical-align: middle;
}

.main-left-footer-bottom h3 {
  display: inline;
  color: white;
  padding-left: 5px;
  vertical-align: middle;
}
/* / main-left-footer */
/* / main-left */

/* main-right */
.main-right {
  height: 100%;
  width: calc(100% - 250px);
  background-color: #141922;
  overflow-y: scroll;
  padding-top: 90px;
}

.main-right p {
  color: #75787c;
}

/* navbar */
.main-right nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.main-right nav ul li {
  display: inline;
  margin: 10px;
}

.main-right nav ul li:first-child a::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 40%;
  border-radius: 5px;
  background-color: #adff2f;
  margin-bottom: 10px;
}

.main-right nav ul li a{
  text-transform: uppercase;
}

.main-right li a:hover {
  opacity: 1;
  color: white;
}

.call-to-action {
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(5, 5, 5, 0.81);
  text-align: right;
  line-height: 80px;
  padding-right: 30px;
}

.call-to-action .btn {
  display: inline-block;
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.call-to-action .btn:hover {
  transform: scale(1.1);
}
/* / navbar */

/* covers */
.covers {
  padding-top: 40px;
}

/* recently */
.covers #recently {
  padding-left: 20px;
}

.covers #recently h1{
  padding-bottom: 20px;
}

.covers #recently ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.covers #recently ul li{
  flex-basis: calc(100% / 8 - 10px);
  margin: 15px 10px 0 0;
  text-align: center;
}

.covers #recently  img{
  width: 150px;
  height: 150px;
}

.covers #recently ul li .layover{
  width: 100%;
  position: relative;
}

.covers #recently ul li .layover:hover img{
  opacity: 0.5;
}

.covers #recently ul li .layover i{
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}


.covers #recently ul li .layover:hover i{
  display: block;
}
/* / recently */

/* creato */
.covers #creato {
  padding: 30px 0 0 20px;
}

.covers #creato img {
  width: 150px;
  height: 150px;
}

.covers #creato ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.covers #creato ul li{
  margin: 15px 10px 0 0;
  text-align: center;
}

.covers #creato ul li .layover{
  width: 100%;
  position: relative;
}

.covers #creato ul li .layover:hover img{
  opacity: 0.5;
}

.covers #creato ul li .layover i{
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.covers #creato ul li .layover:hover i{
  display: block;
}
/* / creato */

/* artisti */
.covers #artisti {
  padding: 30px 0 0 20px;
}

.covers #artisti img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.covers #artisti ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.covers #artisti ul li{
  margin: 15px 10px 0 0;
  text-align: center;
}

.covers #artisti ul li .layover{
  width: 100%;
  position: relative;
}

.covers #artisti ul li .layover:hover img{
  opacity: 0.5;
}

.covers #artisti ul li .layover i{
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.covers #artisti ul li .layover:hover i{
  display: block;
}
/* / artisti */
/* / covers */
/* / main-right */
/* / main */

/* footer */
footer {
  height: 80px;
  width: 100%;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* footer-left */
.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.footer-left img {
  width: 50px;
  margin: 0 10px;
}

.footer-left .brano {
  margin-right: 10px;
}

.footer-left .brano a:hover {
  text-decoration: underline;
}

.footer-left .font {
  vertical-align: middle;
}

.footer-left .font a{
  padding-right: 10px;
}

.footer-left .font a:hover{
  color:white;
}
/* / footer-left */

/* footer-center */
.footer-center {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer-center ul {
  margin-top: 10px;
}

.footer-center ul li {
  display: inline;
  vertical-align: middle;
}

.footer-center ul li a{
  color: white;
  padding-right: 15px;
}

.footer-center ul li:nth-of-type(3) a{
  font-size: 30px;
  display: inline-block;
}

.footer-center ul li:nth-of-type(3) a:hover{
  transform: scale(1.1);
}

.footer-center .barra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-center .barra-centrale {
  height: 5px;
  width: 40%;
  background-color: #75787c;
  border-radius: 5px;
  margin: 0 10px;
}

.footer-center .barra-centrale .barra-bianca{
  height: 5px;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.footer-center .barra-centrale .ball {
  position: absolute;
  top: -5px;
  right: 0;
  color: white;
  display: none;
}

.footer-center .barra-centrale .barra-bianca:hover {
  background-color: #adff2f;
  display: block;
}

.footer-center .barra-centrale .barra-bianca:hover .ball{
  display: block;
}
/* / footer-center */

/* footer-right */
.footer-right {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.footer-right ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-right ul li {
  padding: 5px;
}

.footer-right .barra {
  width: 70%;
  padding-right: 5px;
}

.footer-right .barra-laterale {
  display: block;
  height: 5px;
  width: 100%;
  background-color: #75787c;
  border-radius: 5px;
  margin-right: 10px;
}

.footer-right .barra-laterale .barra-bianca{
  height: 5px;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.footer-right .barra-laterale .barra-bianca:hover{
  background-color: #adff2f;
  display: block;
}

.footer-right .barra-laterale .ball {
  position: absolute;
  top: -5px;
  left: 10px;
  color: white;
  display: none;
}

.footer-right .barra-laterale .barra-bianca:hover .ball{
  display: block;
}
/* / footer-right */
/* / footer */

/* media query */

@media screen and (min-width: 679px) {
  .main-left-header .spotify .logo-small{
    display: none;
  }
}

@media screen and (max-width: 678px) {
  .main-left {
    width: 60px;
  }
  .main-left-header .logo{
    display: none;
  }

  .main-left-header .menu ul li a span{
    display: none;
  }

  .main-left-header .menu ul li:first-child a{
    padding-left: 15px;
  }

  .main-left-header .menu ul li:first-child {
    border-left: 0;
  }

  .main-left-header .playlist{
    display: none;
  }

  .main-left-playlist {
    display: none;
  }

  .main-left-footer span{
    display: none;
  }

  .main-left-footer-top::after {
    display: none;
  }

  .main-left-footer-top img {
    width: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .main-left-footer-bottom h3{
    display: none;
  }

  .main-right {
    width: calc(100% - 60px);
  }

  .call-to-action {
    width: calc(100% - 60px);
  }
}
/* / media query */
