* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: lightgreen;
  overflow: hidden;
}

/* classi riutilizzabili */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.ms_white {
  color: white;
}

.ms_grey {
  color: lightgrey;
}
/* / classi riutilizzabili */

/* main */
main {
  width: 100%;
  height: calc(100% - 80px);
  background-color: violet;
  display: flex;
}

/* main-left */
.main-left {
  height: 100%;
  width: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

/* main-left-header */
.main-left-header .spotify .logo{
  width: 70%;
  padding: 20px 0;
}

.main-left-header .spotify .logo-small{
  width: 50%;
  padding: 20px 0;
}

.main-left-header .menu {
  padding-bottom: 20px;
}
.main-left-header .menu ul li:first-child a{
  color: white;
}

.main-left-header .menu ul li {
  padding-bottom: 10px;
}

.main-left-header .menu img{
  width: 30px;
  vertical-align: middle;
  padding-right: 5px;
}

.main-left-header h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.main-left-header .playlist {
  padding-bottom: 20px;
}
.main-left-header .playlist i{
  font-size: 50px;
}

.main-left-header .playlist ul li {
  display: inline;
  vertical-align: middle;
}
/* / main-left-header */

/* main-left-playlist */
.main-left-playlist {
  min-height: 200px;
  flex-grow: 1;
  overflow-y: auto;
}

.main-left-playlist ul li{
  padding-bottom: 30px;
}
/* / main-left-playlist */

/* main-left-footer */
.main-left-footer-top img {
  width: 15px;
}

.main-left-footer-top  ul li,
.main-left-footer-bottom  ul li {
  display: inline;
  vertical-align: middle;
}

.main-left-footer-top::after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 90%;
  background-color: lightgrey;
}

.main-left-footer-bottom img {
  width: 30px;
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 50px;
}
/* / main-left-footer */

/* media query */
@media screen and (min-width: 579px) {
  .main-left-header .spotify .logo-small{
    display: none;
  }
}

@media screen and (max-width: 578px) {
  .main-left {
    width: 60px;
  }
  .main-left-header .logo{
    display: none;
  }

  .main-left-header .menu ul li a span{
    display: none;
  }

  .main-left-header .playlist{
    display: none;
  }

  .main-left-playlist {
    display: none;
  }

  .main-left-footer span{
    display: none;
  }

  .main-left-footer-top::after {
    display: none;
  }

  .main-left-footer-top img {
    width: 20px;
    padding-bottom: 10px;
    margin: 0 5px;
  }
}
/* / media query */
/* / main-left */

/* main-right */
.main-right {
  height: 100%;
  width: calc(100% - 250px);
  background-color: grey;
  overflow-y: scroll;
}

.font_40 {
  font-size: 40px;
}

.call-to-action {
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(5, 5, 5, 0.81);
  text-align: right;
  line-height: 80px;
  padding-right: 20px;
}

.call-to-action .btn {
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
/* / main-right */

/* / main */

/* footer */
footer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: blue;
}
/* / footer */
