* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: lightgreen;
}

/* main */
main {
  width: 100%;
  height: calc(100% - 80px);
  background-color: violet;
  display: flex;
}

/* main-left */
.main-left {
  height: 100%;
  width: 250px;
  background-color: pink;
}
/* / main-left */

/* main-right */
.main-right {
  height: 100%;
  width: calc(100% - 250px);
  background-color: grey;
}
/* / main-right */

/* / main */

/* footer */
footer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: blue;
}
/* / footer */
