* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: lightgreen;
  overflow: hidden;
}

/* main */
main {
  width: 100%;
  height: calc(100% - 80px);
  background-color: violet;
  display: flex;
}

/* main-left */
.main-left {
  height: 100%;
  width: 250px;
  background-color: pink;
}
/* / main-left */

/* main-right */
.main-right {
  height: 100%;
  width: calc(100% - 250px);
  background-color: grey;
  overflow-y: scroll;
}

.font_40 {
  font-size: 40px;
}

.call-to-action {
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(5, 5, 5, 0.81);
  text-align: right;
  line-height: 80px;
  padding-right: 20px;
}

.call-to-action .btn {
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
/* / main-right */

/* / main */

/* footer */
footer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: blue;
}
/* / footer */
