* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: lightgreen;
  overflow: hidden;
}

/* classi riutilizzabili */
a {
  text-decoration: none;
}

.ms_white {
  color: white;
}

.ms_grey {
  color: lightgrey;
}
/* / classi riutilizzabili */

/* main */
main {
  width: 100%;
  height: calc(100% - 80px);
  background-color: violet;
  display: flex;
}

/* main-left */
.main-left {
  height: 100%;
  width: 250px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* main-left-header */
.main-left-header {
  background-color: green;
}

.main-left-header .logo {
  width: 70%;
  padding: 20px 0 20px 20px;
}

.main-left-header .menu ul li:first-child a{
  color: white;
}

.main-left-header .menu ul li{
  padding-left: 20px;
}

.main-left-header .menu img{
  width: 30px;
  vertical-align: middle;
  padding-right: 5px;
}
/* / main-left-header */

.main-left-playlist {
  min-height: 220px;
  flex-grow: 1;
  background-color: violet;
  overflow-y: auto;
}

.main-left-footer {
  height: 50px;
  background-color: red;
}
/* / main-left */

/* main-right */
.main-right {
  height: 100%;
  width: calc(100% - 250px);
  background-color: grey;
  overflow-y: scroll;
}

.font_40 {
  font-size: 40px;
}

.call-to-action {
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(5, 5, 5, 0.81);
  text-align: right;
  line-height: 80px;
  padding-right: 20px;
}

.call-to-action .btn {
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
/* / main-right */

/* / main */

/* footer */
footer {
  height: 80px;
  width: 100%;
  background-color: blue;
}
/* / footer */
